In [1]:
import os
from steam_web_api import Steam
import pandas as pd

KEY = os.environ.get("MY_API_KEY")
steam = Steam(KEY)

In [150]:
df = pd.DataFrame(columns=['STEAM ID', 'NAME', 'REQUIRED AGE', 'PRICE'])
first_game = steam.apps.get_app_details(app_id=10)
first_game_det = first_game['10']['data']
first_steam_id = first_game_det['steam_appid']
j = 0
for i in steam.apps.search_games(first_game_det['name'])['apps']:
    if i['id'][0] == first_steam_id:
        try:
            j = float(i['price'][1:])
        except:
            j = i['price']
df.loc[-1] = [first_steam_id, first_game_det['name'], first_game_det['required_age'], j]
df.index = df.index + 1
df.to_excel('steam_games_1.xlsx')
df

   STEAM ID            NAME  REQUIRED AGE  PRICE
0        10  Counter-Strike             0   9.99

In [25]:
df = pd.read_excel('steam_games_2.xlsx', index_col=0)
for i in range (10000, 11001, 10):
    if i not in list(df['STEAM ID']):
        game = steam.apps.get_app_details(app_id=i)
    else:
        continue
    if game[str(i)]['success'] == True and game[str(i)]['data']['type']=='game':
        game_det = game[str(i)]['data']
        steam_id = game_det['steam_appid']
        k = 0
        for j in steam.apps.search_games(game_det['name'])['apps']:
            if j['id'][0] == steam_id:
                try:
                    k = float(j['price'][1:])
                except:
                    k = j['price']
        df.loc[-1] = [steam_id, game_det['name'], game_det['required_age'], k]
        df.index = df.index + 1
        df = df.sort_index() 
    else:
        continue
df = df.drop_duplicates()
df.to_excel('steam_games_2.xlsx') 
df

,STEAM ID,NAME,REQUIRED AGE,PRICE
0,10680,Aliens vs. Predator™,17,23.99
1,10520,Beijing 2008™ - The Official Video Game of the...,0,
2,10500,Total War: EMPIRE – Definitive Edition,0,24.99
3,10460,The Club™,0,14.99
4,10270,Disciples III: Reincarnation,0,9.99
...,...,...,...,...
309,50,Half-Life: Opposing Force,0,4.99
310,40,Deathmatch Classic,0,4.99
311,30,Day of Defeat,0,4.99
312,20,Team Fortress Classic,0,4.99
313,10,Counter-Strike,0,9.99